body {
    margin: 0;
}

main, section {
    margin: 50px;
    position: relative;
    display: inline-block; /*сокращенно dib*/
}

div {
    width: 300px;
    height: 300px;
    margin: 20px;
    background: #000;
    display: inline-block;
}

div:nth-child(2) { /*обращенте селектора ко второму div*/
    background: red;
    position: absolute;
    margin: 0;
}
/*отличее св-ва релатив и абсолют: релатив занимает место и его место не занимают, но и он идет как верхний слой; абсолют как бы находится в верхнем слоем над всеми элементами*/

/*использование пщзитион лучше чем марджин посокльку при последнем будут сдвигаться все блоки*/

div:nth-child(5) { /*обращенте селектора к пятому div*/
    background: blue;
    position: relative;
    /*margin: 0;*/
    /*если добавить свойство top ,то при положительном числе блок пойдет вниз по вертикали, если отрицательное значение - то вверх. Если назначаем свойство bottom, то будет двигаться по горизонтали*/
}
/*z-index определяет кто будет слоем верхним при одинаковом значении position, значение только числовое, чем больше значение у элемента, тем он значит выше */

/*position:fixed*/
div:nth-child(8) { /*обращенте селектора к 8 div*/
    background: yellow;
    position: fixed; /*используется со свойтсвами top, right, bottom, left*/
    /*если задать 0 свойствам топ и марджин то он будет в правом верхнем углу, если св-ву лефт 0 присвоить то будет в левом верхнем углу. И таким образом можно его гонять по всему экрану */
}
