@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
body {
    margin: 0;
}
.content-inner {
    /*важно не width просто, а max-width. Потому что при width была бы внизу полоса прокрутки, а не сжимание */
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
header {
    height: 56px;
    position: absolute;
    width: 100%;
    z-index: 1;
   }
header .content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    margin: 0;
    padding: 0;
}
/*добавляем клинир*/
ul:after {
    content: '';
    display: block;
    clear: both;
}
header ul li {
    display: inline-block;
    float: left;
    text-transform: uppercase;
}
a {
    /*сбросить подчеркивание ссылок*/
    text-decoration: none;
    text-transform: uppercase;
}
.main-section {
    /*при загрузке секция занимает 100% высоты экрана*/
    min-height: 100vh;
      /*действия с задним фоном*/
    background: white url("../img/strawb.jpg") right center/cover no-repeat;
}
.main-section .section-text {
    width: 33.33%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.main-section >.content-inner {
    /*> этот значок важен что бы применилось именно к блоку*/
    min-height: 100vh;
    display: flex;
    padding-top: 56px;
    padding-bottom: 80px;
    box-sizing: border-box;
    position: relative;
}
#scroll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    /*сдвинуть влево на половину своей ширины что бы была четко по центру*/
    transform: translateX(-50%);
}
.section-text {
    justify-content: center;
}
h3 {
    font-size: 60px;
}
.button {
    background: #ff6033;
    text-transform: uppercase;
    color: white;
    min-width: 200px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    align-self: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*эффекты*/
.button:hover {
    background: darkred;
}

/*ВТОРАЯ СЕКЦИЯ*/
#section-about {
    background: #00b0b0;
}
#section-about .about {
    width: 40%;
    /*min-width: 700px;*/
    display: flex;
    flex-direction: column;
}
#section-about > .content-inner {
    min-height: 700px;
    /*> этот значок важен что бы применилось именно к блоку*/
    display: flex;
    padding-top: 56px;
    padding-bottom: 200px;
    box-sizing: border-box;
    position: relative;
}
h1 {
    font-size: 90px;
    color: white;
    text-transform: capitalize;
}
/*?????????????????????????????????????????*/


.col-6 p {
    font-size: 17px;
    color: white;
}



/*ТРЕТЬЯ СЕКЦИЯ*/
.tomato {
    background: #70bfff url("../img/tomato.png") right  no-repeat;
}
.tomato > .content-inner {
    height: 790px;
    /*> этот значок важен что бы применилось именно к блоку*/
    /*display: flex;*/
    padding-top: 56px;
    padding-bottom: 200px;
    box-sizing: border-box;
    position: relative;
}
/*.tomato ul li:hover {*/
    /*display: none;*/
/*}*/
.tomato ul li {
     background: white;
    text-transform: uppercase;
    /*color: black;*/
    line-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
       margin-top: 20px;
    min-width: 400px;
    height: 100px;
    text-align: center;

    }

.tomato h1 {
    /*float: right;*/
    text-transform: capitalize;
    color: white;
    /*position: relative;*/
     /*margin: 0 auto;*/
    margin-top: 250px;
    margin-left: 250px;
}
.tomato img {
    width: 100px;
    height: 100px;
    display: flex;
    float: right;
}

/*заготовка по сетке*/
[class^='row-']:after {
    content: '';
    display: block;
    clear: both;
}
[class^='col-'] {
    float: left;
    min-height: 50px;
    box-sizing: border-box;
    padding: 15px;
    word-wrap: break-word;
}
.col > [class^='row-'],
[class^='col-'] > [class^='row-'] {
    margin: -15px;
}

.row-2 .col {
    width: 50%;
}
.row-3 .col {
    width: 33.33%;
}

.row-12 .col {
    width: 8.33%;
}
.row-12 .col-2 {
    width: 16.67%;
}
.row-12 .col-3 {
    width: 25%;
}
.row-12 .col-4 {
    width: 33.33%;
}
.row-12 .col-5 {
    width: 41.67%;
}
.row-12 .col-6 {
    width: 50%;
}
.row-12 .col-7 {
    width: 58.33%;
}
.row-12 .col-8 {
    width: 66.67%;
}
.row-12 .col-9 {
    width: 75%;
}
.row-12 .col-10 {
    width: 83.33%;
}
.row-12 .col-11 {
    width: 91.67%;
}
.row-12 .col-12 {
    width: 100%;
}
/*конец заготовки по сеткам*/

.tomato img {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);

}
.tomato ul li span {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 2px;
    display: inline-block;
}
.four {
    background: #ffe92f;
}
.four h1 {
    font-size: 90px;
    color: black;
    text-align: center;
}
.four p {
    font-size: 17px;
    color: black;
    text-align: center;
    width: 630px;
    padding-left: 250px;
}

.tomato ul li {
    display: block;
    position: relative;
}

.blog {
    background: #b07cf7;
}

.blog p {
    margin: 0 auto;
    width: 570px;
    color: white;
    font-size: 17px;
    padding: 15px;
}
.line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    right: 110px;
}



.chernika {
    background: url("../img/chernika.png") right center/cover no-repeat;
}
.chernika > .content-inner {
    height: 790px;
    /*> этот значок важен что бы применилось именно к блоку*/
    /*display: flex;*/
    padding-top: 56px;
    padding-bottom: 200px;
    box-sizing: border-box;
    position: relative;
}
.submit {
    width: 170px;
    height: 60px;
    background: #96b92c;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: inline-block;
}
.mail {
    width: 570px;
    height: 55px;
    display: inline-block;
}

.chernika p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: black;
    width: 570px;
    padding-bottom: 40px;
    padding-top: 34px;
}
.blog {
    min-height: 862px;

}
.blog h1 {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.blog p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: white;

}

.blog img {
    margin: 0 auto;
    width: 370px;
    height: 300px;
    position: absolute;
}
.blog .row-12 p {
    position: relative;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background: rgba(170,170,170,0.54);
    color: white;
    text-align: center;
    left: -115px;
    top: 35px;

    }
.bottom {
    width: 310px;
    height: 80px;
    position: relative;
    bottom: -156px;
    color: white;
}
.contact {
    background: url("../img/bg_contact.png") right center/cover no-repeat;
    /*width: 1500px;*/
    min-height: 870px;
}
/*.contact > .content-inner {*/
    /*height: 790px;*/
    /*padding-top: 56px;*/
    /*padding-bottom: 200px;*/
    /*box-sizing: border-box;*/
    /*position: relative;*/

.contact h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    margin: 0 auto;
    text-align: center;
   padding: 0;
}
.contact p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: black;
    width: 370px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 60px;
    text-align: center;
    line-height: 1.5;
}

input {
    background: #63d1d1;
    width: 500px;
    height: 50px;
    color: white;
}
#comment {
    width: 500px;
    height: 250px;
    background: #63d1d1;
    overflow: hidden; /*если есть полоса прокрутки*/


}
textarea {
    color: white;
}

textarea:hover {
    color: grey;
    background: #00c4c4;
}
.contact .col-6 p {
    left: 5px;
}

footer {
    min-height: 90px;
    background: #000;
    color: #a3a3a3;
}

footer .col-3 {
     padding-left: 90px;
 }
footer .col-2 {
    margin-top: 10px;
}